table#myTable { /*CSS to control how the table looks */
  width: 100%; /*Sets the table width to fill the width of the screen */
  padding-left: 10px; /*adds space between the table and the left hand side of the screen */
  padding-right: 10px; /*adds space between the table and the right hand side of the screen */
}

td, th { /*CSS to control how the table column looks */
  text-align: center; /*Sets the text to be in the center of the column */
  font-size: 20px; /*Sets the font size */
}
